# Local Netlify folder
.netlify
node_modules
.env

# Vite build outputs
dist
dev-dist

# Cloudflare & Wrangler artifacts
.wrangler
worker-configuration.d.ts
*.sqlite
*.sqlite-journal
*.sqlite-shm
*.sqlite-wal
